<div class="row" id="page-content-header" data-scrollspy="header">
    <ctrl-text class="col-md-12" ng-model="model.content.localized[language].header" ng-disabled="!active[language]" ng-required="true" ng-label="header"></ctrl-text>
</div>
<div class="row" id="page-content-image" data-scrollspy="image">
    <ctrl-image class="col-md-12" ng-disabled="!active[language]" ng-height="250" ng-width="550" ng-tip="550x250" ng-model="model.content.image" ng-required="true" ng-label="image"></ctrl-image>
</div>